<mat-tab-group mat-align-tabs="center" animationDuration="4000ms">
	<mat-tab label="Book in progress">
		<div class="books-container">
			<mat-card *ngFor="let book of profile.progressBooks; let i = index">
				<button mat-icon-button class="delete-button" (click)="deleteBook(book.id, 'PROGRESS', i)">
					<mat-icon>cancel</mat-icon>
				</button>
				<mat-card-content (click)="openBook(book.id)">
					<div *ngIf="book.title" class="title">{{book.title}}</div>
					<img src="{{book.imageLink}}" width="125px" height="200px">
				</mat-card-content>
			</mat-card>
		</div>
	</mat-tab>

	<mat-tab label="Future books">
		<div class="books-container">
			<mat-card *ngFor="let book of profile.futureBooks; let i = index">
				<button mat-icon-button class="delete-button" (click)="deleteBook(book.id, 'FUTURE', i)">
					<mat-icon>cancel</mat-icon>
				</button>
				<mat-card-content (click)="openBook(book.id)">
					<div *ngIf="book.title" class="title">{{book.title}}</div>
					<img src="{{book.imageLink}}" width="125px" height="200px">
				</mat-card-content>
			</mat-card>
		</div>
	</mat-tab>

	<mat-tab label="Finished books">
		<div class="books-container">
			<mat-card *ngFor="let book of profile.finishedBooks; let i = index">
				<button mat-icon-button class="delete-button" (click)="deleteBook(book.id, 'FINISHED', i)">
					<mat-icon>cancel</mat-icon>
				</button>
				<mat-card-content (click)="openBook(book.id)">
					<div *ngIf="book.title" class="title">{{book.title}}</div>
					<img src="{{book.imageLink}}" width="125px" height="200px">
				</mat-card-content>
			</mat-card>
		</div>
	</mat-tab>
</mat-tab-group>