.marathon-container {
}

.create-marathon-button {
	position: absolute;
	z-index: 1;
	bottom: 90px;
	right: 20px;
}

.create-marathon-button mat-icon {
	line-height: 40px;
	width: 40px;
	height: 40px;
	font-size: 40px;
}

mat-card {
	display: inline-block;
	margin: 2%;
	vertical-align: middle;
}