.book-container {
	margin: 0 10% 0 10%;
}

.inline-block {
	display: inline-block;
	padding: 0%;
	vertical-align: top;
}

.field-names {
	margin: 0% 0% 0% 2%;
}

.book-description {
	margin: 2% 0% 2% 0%;
}

.button-width {
	width: 150px;
}

.add-note {
	margin-top: 25%;
}

.note {
	padding: 1% 2% 1% 2%;
}

.note-text {
	word-break: break-all;
	padding: 1% 1% 1% 1%;
}

.note-title {
	font-size: 21px;
}