<mat-toolbar color="primary">
	<mat-toolbar-row>
		<span><img src="./assets/logo.png"></span>
		<span class="example-fill-remaining-space"></span>
		<span class="example-spacer"></span>

		<button mat-button>About</button>
		<button mat-button (click)="logout()">logout</button>
	</mat-toolbar-row>
</mat-toolbar>
<div class="example-container mat-elevation-z8">
	<mat-table #table [dataSource]="dataSource">
		
		<ng-container matColumnDef="name">
			<mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
			<mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
		</ng-container>

		<ng-container matColumnDef="delete">
			<mat-header-cell *matHeaderCellDef class="delete"> Delete </mat-header-cell>
			<mat-cell *matCellDef="let element" class="delete">
				<mat-card-actions>
					<button mat-raised-button (click)="deleteBook(element)" color="primary">Delete Book</button>
				</mat-card-actions>
			</mat-cell>
		</ng-container>

		<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
	</mat-table>
</div>
<app-add-book></app-add-book>