.book-container {
	margin: 0 10% 0 10%;
	min-width: 735px;
}

.inline-block {
	display: inline-block;
	padding: 0%;
	vertical-align: top;
}

.field-names {
	margin: 0% 0% 0% 2%;
}

.book-description {
	margin: 2% 0% 2% 0%;
}

.button-width {
	width: 150px;
}

.add-note {
	position: absolute;
	z-index: 1;
	top: 20px;
	left: 8px;
}

.add-note mat-icon {
	line-height: 40px;
	width: 40px;
	height: 40px;
	font-size: 40px;
}

.note {
	padding: 1% 2% 1% 2%;
}

.note-text {
	word-break: break-all;
	padding: 1% 1% 1% 1%;
}

.note-title {
	font-size: 18px;
}

.delete-button {
	position: absolute;
	top: -13px;
	right: -11px;
	color: #778899;
	z-index: 101;
}