<mat-dialog-content align="center">
	<mat-form-field>
		<input matInput [(ngModel)]="marathon.startDate" [matDatepicker]="startDate" placeholder="Choose a start date">
		<mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
		<mat-datepicker #startDate></mat-datepicker>
	</mat-form-field>
	<br>
	<mat-form-field>
		<input matInput [(ngModel)]="marathon.endDate" [matDatepicker]="endDate" placeholder="Choose an end date">
		<mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
		<mat-datepicker #endDate></mat-datepicker>
	</mat-form-field>
	<br>
	<mat-form-field appearance="outline" class="description">
		<textarea matInput rows="5" [(ngModel)]="marathon.description"></textarea>
		<mat-label>Description</mat-label>
	</mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
	<button mat-button mat-dialog-close>Cancel</button>
	<button mat-button [mat-dialog-close]="marathon" cdkFocusInitial>Create</button>
</mat-dialog-actions>