<mat-card class="example-card">
   <mat-card-header>
     <mat-card-title>Registration</mat-card-title>
   </mat-card-header>
   <mat-card-content>
     <form class="example-form" name="sign-up-form">
       <table class="example-full-width" cellspacing="0">
         <tr>
           <td>
             <mat-form-field class="example-full-width">
             <input matInput placeholder="E-mail" [(ngModel)]="email" type="email" name="email"  #emailRef="ngModel" email required>
            </mat-form-field>
            <p class="help is-danger" *ngIf="emailRef.errors?.required && emailRef.touched">Please enter E-mail</p>
           </td>
         </tr>
         <tr>
         <td><mat-form-field class="example-full-width">
           <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" #passwdRef="ngModel" required>
         </mat-form-field>
         <p class="help is-danger" *ngIf="passwdRef.errors?.required && passwdRef.touched">Please enter Password</p>
        </td>
       </tr></table>
     </form>
     <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
   </mat-card-content>
   <mat-card-actions>
     <button mat-raised-button (click)="createUser()" color="primary">Sign Up</button>
   </mat-card-actions>
 </mat-card>