<!DOCTYPE html>
<html>
 
<head>
  <meta charset="utf-8">
  <title>Spring Boot WebSocket</title>
  <base href="/">
 
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
 
<body>
 
  <div class="container" style="width: 400px; margin-top: 20px;">
 
    <form class="form-inline">
      <div class="form-group">
        <label for="connect">Make Connection:</label>
        <button id="connect" class="btn btn-default" type="button" [disabled]="!disabled" (click)="connect()">Connect</button>
        <button id="disconnect" class="btn btn-default" type="submit" [disabled]="disabled" (click)="disconnect()">Disconnect</button>
      </div>
    </form>
 
    <form class="form-inline" style="margin-top: 20px;">
      <div class="form-group">
        <label for="name">message:</label>
        <input type="text" id="text" name="text" class="form-control" [(ngModel)]="text" />
      </div>
      <button id="send" class="btn btn-default" type="button" (click)="sendMessage()">Send</button>
    </form>
 
    <table id="conversation" class="table table-striped" style="margin-top: 20px;">
      <thead>
        <tr>
          <th>Chat</th>
        </tr>
      </thead>
      <tbody *ngFor="let message of messages">
        <tr>
          <td>{{message}}</td>
        </tr>
      </tbody>
    </table>
 
  </div>
</body>
 
</html>