<mat-toolbar color="primary">
	<mat-toolbar-row>

		<a routerLink="/books"><img src="./assets/logo.png"></a>
		
		<div *ngIf="this.loginService.getLoggedIn() === 'true'" class="search-container">
			<app-search class="search"></app-search>
		</div>
		<span class="example-spacer"></span>

		<button mat-icon-button>
			<mat-icon>info</mat-icon>
		</button>

		<button *ngIf="this.loginService.getLoggedIn() === 'true'; else showSignUpOrLogin" mat-icon-button [matMenuTriggerFor]="menu">
			<mat-icon>settings</mat-icon>
		</button>
		<mat-menu #menu="matMenu">
			<button mat-menu-item (click)="openProfile()">Profile</button>
			<a routerLink="marathons"><button mat-menu-item>Marathon</button></a>
			<button mat-menu-item (click)="logout()">Sign Out</button>
		</mat-menu>

		<ng-template #showSignUpOrLogin>
			<button *ngIf="this.loginService.getSignUp() === 'true'; else showLogin" mat-button (click)="signup()">Sign Up</button>
		</ng-template>

		<ng-template #showLogin>
			<button mat-button (click)="login()">Login</button>
		</ng-template>

	</mat-toolbar-row>
</mat-toolbar>
