.search {
	position: relative;
}
.search-hint {
	position: absolute;
	z-index: 1;
	border: 1px solid black;
	background: white;
}
input[type="text"] {
	width: 300px;
	border-radius: 100px;
	border: 0px;
	font-size: 80%;
	line-height: 26px;
	outline: none;
	padding-left: 10px;
}
button.title {
	display: block;
	border: none;
	width: 100%;
	text-align: left;
}
button.title:hover {
	background: #f5f4f7;
}
.search-button {
	position: absolute;
	width: 22px;
	height: 22px;
	top: 6px;
	right: 4px;
}